* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}

body>div#root {
    background-color: #0e2237;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none !important;
}

iframe {
    height: calc(100vh - 134px);
    width: 100%;
}